<h1>About Briefcase</h1>

<p>Briefcase is a very simple issue tracker</p>

<p>It is intended to appear somewhere at the 'Todo' end of the spectrum of task management apps, rather than up at the integrated project management, helpdesk and coffee maker end.</p>
